## These are the required python libraries needed to run Selenium tests
## on Mozilla WebQA projects

beautifulsoup4
PyYAML==3.10
UnittestZero
certifi==0.0.8
chardet==2.1.1
execnet==1.1
py==1.4.15
pytest==2.3.5
pytest-mozwebqa==1.1.1
pytest-xdist==1.8
requests==1.2.3
selenium
wsgiref==0.1.2
