## These are the required python libraries needed to run Selenium tests
## on Mozilla WebQA projects

BeautifulSoup==3.2.0
PyYAML==3.10
UnittestZero
certifi==0.0.8
chardet==1.0.1
execnet==1.0.9
py==1.4.8
pytest==2.2.4
pytest-mozwebqa==1.0
pytest-xdist==1.8
requests==0.11.1
selenium
wsgiref==0.1.2